
 <!-- Footer Start -->

<footer>
    <div class="container text-center">
      <h4><strong>Copyright &copy; {{ site.author }} - {{ site.time | date: "%Y" }}</h4></strong>
      <p>

      <!-- Google AdSense Start -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Personal -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3477967961698717"
             data-ad-slot="6183116989"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      <!-- Google AdSense End --></p>
    </div>
</footer>

<p><br><br><br><br><br><br></p>




<!-- Footer End -->
